<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<title>One Piece Scraper</title>

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">

	<!-- Link to Comorant Font -->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link rel="stylesheet" href="./style.css">

</head>
<body>
	{{{ body }}}
</body>
</html>